<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="893257854076-3eqanejj11tvampvb76jsrjlg57hglco.apps.googleusercontent.com">
    <title>Login</title>
</head>
<body>
    <div id="my-signin2"></div>
    <a href="#" onclick="signOut();">Sign out</a>

    <script>
        function onSuccess(googleUser) {
            const id_token = googleUser.getAuthResponse().id_token;
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/mhs/acc/gauth');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() {
                console.log('Signed in as: ' + xhr.responseText);
            };
            const profile = googleUser.getBasicProfile();
            // console.log(`ID: ${profile.getId()}`)
            // console.log('Name: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); 
            xhr.send('token=' + id_token)
        }
        function onFailure(error) {
            console.log(error);
        }
        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }

        function signOut() {
            const auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>